.text-section {
  background-color: #febe00;
  height: 100vh;
  color: white;
}

.image-section {
  background-color: #2d2f3a;
  height: 100vh;
}

.color-me a {
  color: #dbb43e;
}
.sub-menu a {
  color: #d6b65d;
}
.text-white {
  color: white;
}
.text-1 {
  font-family: "Kalam", cursive;
  font-size: 2.5rem;
}
.text-2 {
  font-size: 4.5rem;
  margin-bottom: 0.1rem;
  font-family: "Manjari", sans-serif;
}
.text-3 {
  font-size: 1.5rem;
  color: #dbb43e;
  font-family: "Livvic", sans-serif;
}
/* .media img {
  max-width: 100px;
} */
.pic-text {
  color: #b3b4b8;
  font-size: 0.6rem;
}
.last-text {
  color: #707072;
  font-size: 0.6rem;
}
.cover {
  height: 100%;
  width: 100%;
  margin-left: -50%;
}
.negative-margin {
  margin-top: -50px;
}
.icons {
  width: 50px;
  height: 150px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: -50%;
}
.box-1 {
  font-size: 10px;
  color: black;
}
.box-2 {
  font-size: 10px;
  color: black;
}
.box1-text {
  font-size: 20px;
  border: 2px solid black;
  height: 30px;
  width: 30px;
  color: black;
}
.box2-text {
  font-size: 20px;
  border: 2px solid black;
  height: 30px;
  width: 30px;
  color: black;
}
.last-text {
  color: black;
  font-size: 0.4rem;
}
.last-text-2 {
  color: black;
  font-size: 0.4rem;
}
